In [32]:
# basic libraries
import pandas as pd
import numpy as np

In [4]:
# fetch dataset
df = pd.read_csv('/home/akash/Datasets/digital_habits_vs_mental_health.csv')
df.head()

,screen_time_hours,social_media_platforms_used,hours_on_TikTok,sleep_hours,stress_level,mood_score
0,10.3,2,5.3,4.4,10,5
1,6.5,5,3.5,6.2,8,8
2,9.1,4,2.8,6.6,7,8
3,6.5,3,2.5,6.5,7,9
4,2.1,3,1.2,7.8,2,10

In [5]:
# EDA & preprocessing
df.describe()

,screen_time_hours,social_media_platforms_used,hours_on_TikTok,sleep_hours,stress_level,mood_score
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000
mean,6.003505,2.997820,2.401433,6.988489,6.179590,9.06076
std,1.987073,1.414452,1.079111,1.466330,2.045409,1.27847
min,1.000000,1.000000,0.200000,3.000000,1.000000,2.00000
25%,4.700000,2.000000,1.600000,6.000000,5.000000,8.00000
50%,6.000000,3.000000,2.300000,7.000000,6.000000,10.00000
75%,7.300000,4.000000,3.100000,8.000000,8.000000,10.00000
max,12.000000,5.000000,7.200000,10.000000,10.000000,10.00000

In [8]:
# information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   screen_time_hours            100000 non-null  float64
 1   social_media_platforms_used  100000 non-null  int64
 2   hours_on_TikTok              100000 non-null  float64
 3   sleep_hours                  100000 non-null  float64
 4   stress_level                 100000 non-null  int64
 5   mood_score                   100000 non-null  int64
dtypes: float64(3), int64(3)
memory usage: 4.6 MB

In [9]:
# shape of dataset
df.shape

(100000, 6)

In [10]:
# handle missing values
df.isna().sum()

screen_time_hours              0
social_media_platforms_used    0
hours_on_TikTok                0
sleep_hours                    0
stress_level                   0
mood_score                     0
dtype: int64

In [11]:
# create X and y
X = df.drop(columns = ['mood_score'], axis = 1)
y = df.mood_score

In [12]:
# shape of X and y
print(X.shape)
print(y.shape)

(100000, 5)
(100000,)

In [14]:
# scale values
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.84545455, 0.25      , 0.72857143, 0.2       , 1.        ],
       [0.5       , 1.        , 0.47142857, 0.45714286, 0.77777778],
       [0.73636364, 0.75      , 0.37142857, 0.51428571, 0.66666667],
       ...,
       [0.24545455, 0.5       , 0.18571429, 0.75714286, 0.33333333],
       [0.87272727, 0.25      , 0.72857143, 0.6       , 0.88888889],
       [0.4       , 0.75      , 0.28571429, 0.62857143, 0.44444444]],
      shape=(100000, 5))

In [19]:
# split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3)

In [30]:
# model build
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 200, max_features = 1.0)
model.fit(X_train, y_train) 
model.predict(X_test)

array([ 6, 10,  9, ..., 10,  7,  9], shape=(30000,))

In [31]:
# model score
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.9901428571428571
0.5912

In [33]:
# unseen prediction
model.predict([[10.3, 2, 5.3, 4.4, 10]])

array([9])